GHCR_OWNER=rokopm
IMAGE_TAG=latest

# Misma PC: http://127.0.0.1:8001/llava/
# Otra PC por LAN/Tailscale: http://IP_DEL_SERVIDOR:8001/llava/
FASTAPI_URL=http://127.0.0.1:8001/llava/

FLASK_SECRET_KEY=cambiar-en-produccion
AUTO_CAPTURE_INTERVAL=20
CORS_ORIGINS=*

RTSP_ENABLED=false
RTSP_USER=admin
RTSP_PASS=admin
RTSP_HOST=10.3.56.5
RTSP_PARAMS=channel=2&subtype=0

DETECTOR_MODEL_PATH=/mnt/memoria/smoking_best.pt
USB_VIDEO_DEVICE=/dev/video0
EDGE_HTTP_PORT=5000
